footer {
    /* Footer minimaliste */
    color: var(--footer-text-color);
    text-align: center;
    padding: 2em 0;
    font-size: 0.9em;
}
a {
    /* Style de lien par défaut (non utilisé dans ce layout) */
    color: var(--text-color-light);
    text-decoration: none;
}
.title {
    /* Titres plus impactants */
    text-align: center;
    font-size: 2.5rem;
    color: var(--title-color);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1rem;
    font-family: instrument serif;
}
.text {
    /* Texte du paragraphe */
    font-size: 1.125rem;
    color: var(--text-color-light);
    max-width: 60ch; /* Limite la largeur pour une meilleure lisibilité */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}